<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.3/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutChangesToGlobalState="true"
         bootstrap="./vendor/autoload.php"
>
    <php>
        <ini name="error_reporting" value="-1" />
        <server name="KERNEL_CLASS" value="AppKernel" />
    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>./tests</directory>
            <exclude>
                <directory>./tests/fixtures</directory>
            </exclude>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./app/Backend</directory>
            <directory>./app/Safely</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-clover" target="reports/phpunit.coverage.xml"/>
        <log type="junit" target="reports/phpunit.logfile.xml" logIncompleteSkipped="false"/>
    </logging>
</phpunit>
